PORT=5174
JWT_SECRET=yourSuperSecretKey

DATABASE_URL=mysql://root:prishtine2004@localhost:3306/cooktaste

# --- SMTP for emails ---
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=bektashirea@gmail.com
SMTP_PASS=airmtyrbguqwscuw
FROM_EMAIL=Cook&Taste <bektashirea@gmail.com>
OWNER_EMAIL=bektashirea@gmail.com

